#dashboard.container.mt-5

  %ul#main-nav.nav.nav-justified.p-3.mb-3
    %li.nav-item.p-3.active.btn-default{data: 'archipel-orders'}
      Archipel Orders
    %li.nav-item.p-3{data: 'apocalypse-delivery-requests'}
      Apocalypse Delivery Requests

  %section#archipel-orders.well.bs-component
    = display_partial('admin/orders_table')

  %section#apocalypse-delivery-requests.well.bs-component.hidden
    %table.table.table-dark.table-striped
      %thead
        %tr
          -# %th Acknowledged?
          %th Type
          %th Customer Name
          %th Total weight
          %th Total deliveries
          %th Created at
          %th Actions
      %tbody
        - @delivery_requests.each do |delivery_request|
          %tr.align-items-center
            -# %td.text-center
              .fas{class: "#{delivery_request.acknowledged? ? 'fa-check' : 'fa-times'}"}
            %td= delivery_request.dropoff? ? 'dropoff' : 'pickup'
            %td= delivery_request.invoice_location.name
            %td= "#{delivery_request.total_delivery_weight.to_f / 1000}kg"
            %td= delivery_request.deliveries.count
            %td.small= delivery_request.created_at
            %td.actions
              .icon.fas.fa-info{title: 'Show details', onclick: "toggleDeliveryRequest(this)"}
          %tr.delivery-request-details.hidden
            %td{colspan: '100%'}
              %h3.upcase.mt-3 pickup details
              .row.pickup-details.pl-5
                - location = delivery_request.pickup_location
                .col-4
                  .font-weight-bold business name:
                  = location.name
                .col-4
                  .font-weight-bold pickup address:
                  = location.full_address
                .col-4
                  .font-weight-bold contact:
                  = "#{location.contact} / #{location.phone}"

              %hr
              %h3.upcase invoice details
              .row.invoice-details.pl-5
                - location = delivery_request.invoice_location
                .col-4
                  .font-weight-bold business name:
                  = location.name
                .col-4
                  .font-weight-bold invoice address:
                  = location.full_address
                .col-4
                  .font-weight-bold contact:
                  = "#{location.contact} / #{location.email}"

              %hr
              %h3.upcase deliveries
              %ol.pl-5
                - delivery_request.deliveries.each_with_index do |delivery, index|
                  %h4
                    = "#{index +1}. #{delivery.location.name}: #{delivery.location.full_address}"
                  .row.py-3
                    .col-6
                      Available from:
                      = delivery.available_from.strftime("%d %B %Y, %H:%M")
                    .col-6
                      Delivery notes:
                      = delivery.notes

                  %h4 Items
                  - delivery.items.each do |item|
                    .row.item
                      .col-4= item.name
                      .col-4= "#{item.weight_in_grams.to_f / 1000}kg"
                      .col-4= item.notes

                  %hr
