%form{action: 'upload_orders', method: 'post', enctype: "multipart/form-data", role: 'form'}
  %fieldset
    .form-group
      .form-row.d-flex.align-items-end
        .col-5
          %label{ for: "filedate" } Orders for:
          %input#filedate.form-control{ type: 'date', name: "filedate", value: @todays_date }
        .col-5
          %label{ for: "ordersData" } Shopify Orders CSV
          %input#orders-data.form-control-file{ type:"file", name: "orders_data", accept: "text/csv", required: true }

        .col-2
          %button.btn.btn-primary{type: 'submit'} Upload

#existing-orders

%table.table.table-dark.table-striped
  %thead
    %tr
      %th Date
      %th Raw orders CSV
      %th Generated Reports
      %th Actions
  %tbody
    - @shopify_orders.each do |order|
      %tr
        %td= order.date
        %td
          %a{href: url("admin/download_orders/#{order.date.to_s}")}= "#{order.date}.csv"
        %td
          %a{href: url("admin/download_reports/#{order.date.to_s}")}= "#{order.report_date}.zip"
        %td.actions
          .icon.fas.fa-info{title: 'Show order summary', onclick: "toggleOrderSummary(this)"}
          .icon.fas.fa-sync{title: 'Regenerate reports', onclick: "regenerateReports('#{order.date}')"}
      %tr.order-summary.hidden
        %td{colspan: '100%'}
          - if order.order_summary
            - summary = JSON.parse(order.order_summary)
            %h3= "Order summary #{order.date}"
            %h4.strong= "#{summary['total_orders']} total orders in #{summary['zip_codes'].count} zip codes"
            %hr

            .row
              .col
                %u.strong Orders by Zip Code
                %ul.orders-by-zip
                  - summary['orders_by_zip_code'].each do |zip_code, orders|
                    %li= "#{zip_code}: #{orders} orders"

              .col
                .row
                  %u.strong.w-100 Orders by Route
                  %ul.orders-by-route
                    - summary['orders_by_route'].each do |route, orders|
                      %li= "#{route.capitalize}: #{orders} orders"

                - if summary['orders_by_hub']
                  .row
                    %u.strong.w-100 Orders by Pickup Hub
                    %ul.orders-by-pickup-hub
                      - summary['orders_by_hub'].each do |hub, orders|
                        %li= "#{hub.capitalize}: #{orders} orders"

              .col
                %u.strong Items by Vendor
                %ul.items-by-vendor
                  - summary['items_by_vendor'].each do |vendor, items|
                    %li= "#{vendor.capitalize}: #{items} items"
          - else
            .text-center.p-3
              No summary found for this order - it probably means there's an error somewhere. Please contact dax with the relevant CSV
