#dashboard.container

  #orders-upload.well.bs-component
    %form{action: 'upload_orders', method: 'post', enctype: "multipart/form-data", role: 'form'}
      %fieldset
        .form-group
          .form-row.d-flex.align-items-end
            .col-5
              %label{ for: "filedate" } Orders for:
              %input#filedate.form-control{ type: 'date', name: "filedate", value: @todays_date }
            .col-5
              %label{ for: "ordersData" } Shopify Orders CSV
              %input#orders-data.form-control-file{ type:"file", name: "orders_data", accept: "text/csv", required: true }

            .col-2
              %button.btn.btn-primary{type: 'submit'} Upload

  #existing-orders

    %table.table.table-dark.table-striped
      %thead
        %tr
          %th Date
          %th Raw orders CSV
          %th Generated Reports
      %tbody
        - @shopify_orders.each do |order|
          %tr
            %td= order.date
            %td
              %a{href: url("download_orders/#{order.date.to_s}")}= "#{order.date}.csv"
            %td
              %a{href: url("download_reports/#{order.date.to_s}")}= "#{order.date}.zip"

