%section#requests.mt-5
  %h2 Previous delivery requests
  %hr
  %table.table
    %thead
      %th Status
      %th Requested By
      %th Pickup location
      %th Delivery location
      %th Created at
    %tbody
      // TODO: need to do some sql query here or this is gonna get heavy
      - organization.delivery_requests.flat_map(&:deliveries).reverse.each do |d|
        %tr.delivery-request
          %td= display_partial "apocalypse/utils/delivery_request_status", delivery_request: d.delivery_request
          %td= d.delivery_request.created_by.nickname
          %td= d.delivery_request.pickup_location.name
          %td= d.location.name
          %td= d.delivery_request.created_at.strftime("%d %B %Y, %H:%M")

  #request-delivery.mt-5
    %a{ href: "/apocalypse/request_pickup" }
      %button.btn.btn-block.btn-outline-dark Make a new delivery request

